$cudi-pink: #ce496a; // d96481 f14668
$cudi-blue: #4c6dbc;
$background: #242424;
$white-alt: white;
$primary: $cudi-pink;

$font-stack: BlinkMacSystemFont,
-apple-system,
"Segoe UI",
"Roboto",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
"Helvetica",
"Arial",
sans-serif;

$font-alt: 'Proxima Nova',
"Open Sans",
"Gill Sans MT",
"Gill Sans",
Corbel,
Arial,
sans-serif;