$cudi-pink: #ce496a; // d96481 f14668
$cudi-blue: #4c6dbc;
$background: #242424;
$white-alt: white;
$primary: $cudi-pink;

//FONTS
@import url(http://fonts.googleapis.com/css?family=Source+Serif+Pro:300,400,500,600,700|Nanum+Myeongjo:300,400,500,600,700);

$font-serif: 
'Source Serif Pro',
'Nanum Myeongjo',
'Palatino',
‘Palatino Linotype’,
Palatino,
Palladio,
‘URW Palladio L’,
‘Book Antiqua’,
Baskerville,
‘Bookman Old Style’,
‘Bitstream Charter’,
‘Nimbus Roman No9 L’,
Garamond,
‘Apple Garamond’,
‘ITC Garamond Narrow’,
‘New Century Schoolbook’,
‘Century Schoolbook’,
‘Century Schoolbook L’,
Georgia,
serif;

$font-sans: BlinkMacSystemFont,
-apple-system,
"Segoe UI",
"Roboto",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
"Helvetica",
"Arial",
sans-serif;